[Unit]
Description=Weekly Overlay Safe Update

[Timer]
Unit=overlay-auto-update.service
OnCalendar=Sun *-*-* 08:00
Persistent=true

[Install]
WantedBy=timers.target

