[Unit]
Description=Auto Maintenance w/ overlay toggle
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/auto-maintenance/maintenance.sh
RemainAfterExit=no
